[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mahammad11
[access "refs/for/refs/*"]
	read = group user/mahammad11
	push = group user/mahammad11
	label-Code-Review = -2..+2 group user/mahammad11
	label-Verified = -1..+1 group user/mahammad11
	rebase = group user/mahammad11
	removeReviewer = group user/mahammad11
	submit = group user/mahammad11
[access "refs/heads/*"]
	read = group user/mahammad11
	create = group user/mahammad11
	push = +force group user/mahammad11
	pushMerge = group user/mahammad11
[access "refs/tags/*"]
	push = group user/mahammad11
	push = +force group user/mahammad11
